/* font for this website */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* CSS reset */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    
}

body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: #F3E5D8;
    padding: 1rem;
    /* margin-left: 35.5rem;
    margin-right: 35.5rem;
    margin-top: 6.7rem; */
}

/* h1, h2, h3, h4, button {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
} */

img {
  max-width: 100%;
  display: block;
}

/* h1, h2, h3, h4, p {
  font-family: inherit;
  font-size: inherit;
} */


/* design */

/* .main-container {
    border-style: dotted;
  
} */

/* to center the the object in this case the container */
.container-design {    
    background-color: #FFFFFF;
    min-height: 100svh;
    flex-direction: column;
    gap: 2rem;
    border-radius: 26px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.3rem;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.img-style {
  border-radius: 10px;
  width: 40rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.content-recipe {
  background-color: bisque;

}
