/* font for this website */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: #F3E5D8;
    padding: 1rem;
    /* margin-left: 35.5rem;
    margin-right: 35.5rem;
    margin-top: 6.7rem; */
}

h1, h2 {
  font-family: "Young Serif", system-ui;
}

p, li, ol, ul, h3 {
  font-family: "Outfit", system-ui;
  font-weight: 240;
}

ol, ul{
  padding-left: 23px;
  color: hsl(30, 10%, 34%)
}

ol {
  list-style: none;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 1.8rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  color: hsl(332, 51%, 32%);
  margin-bottom: 0;
}


/* to center the the object in this case the container */
.container-design {    
    background-color: #FFFFFF;
    min-height: 100svh;
    flex-direction: column;
    gap: 2rem;
    border-radius: 26px;
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.2rem;
    
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  
}

.img-header {
  border-radius: 13px;
  width: 89%;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2rem;
}

.preparation-section {
  background-color: hsl(330, 100%, 98%);
  padding-top: 0.3rem;
  padding-left: 1.8rem;
  padding-right: 2rem;
  padding-bottom: 0.8rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.preparation-ul {
  margin: 0;
}

.preparation-li {
   margin-bottom: 0.5rem;
   margin-top: .5rem;
   padding-left: 1rem;
   font-weight: 290;
}

.ingredients-li {
  padding-left: 1rem;
  margin-bottom: 0.7rem;
  gap: 2rem;
  font-weight: 290;
}

.ingredients-section {
  border-bottom: 1px solid hsl(30, 54%, 90%);
  padding-bottom: 1rem;
}

.instruction-ol {
  padding-left: 1.0rem;
  margin: 0.5rem 0 0 0.3rem;
}

.instruction-h4 {
  padding-right: 1.5rem; 
  color: hsl(14, 45%, 36%);
}

/* .instruction-li {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
  padding: 0
} */

.instruction-p {
  margin: 0;
  text-wrap: wrap;
  justify-items:start ;
}

.instruction-h2 {
  margin-bottom: 0;
}

.instruction div {
  margin: -0.5rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.instruction {
  border-bottom: 1px solid hsl(30, 54%, 90%);
  padding-bottom: 1rem;
}

#instruction-2-margin {
  margin-bottom: -1rem;
}


/* .instruction-div-row {
  padding: 0;
  border-style: dashed;
} */

/* increment order list */
/* .instruction-li ::before {
  counter-increment: li;
  content: counter(li) ".";
  color: hsl(14, 45%, 36%);
  display: inline-block;
  width: 3em;
}

.instruction-ol {
  padding-left: 0.5rem;
 
}

.instruction-li {
  list-style-position: outside;

} */

/* different styles for different media types/devices */
@media only screen and (max-width: 700px) {
  .img-header {
   margin: 0;
   border-radius: 0;
   width: 100%;
  }

  body{
    margin: 0;
    border-radius: 0;
    padding: 0;
    height: 0;
    border-radius: 0;
  }

  .container-design {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .container-content {
    gap: 5px;
  }

  
}